.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
   border-right:1px solid #c4c4c4;
   padding: 0;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {
  text-align:center;
  padding-bottom: 10px;
}
.srch_bar .input-group-addon
{
  border-radius: 5px;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%;
  padding-top: 13px;
}
.input-group-addon:last-child
{
  border-left: 1px solid #ccd0d2 !important;
}
.input-group-addon:first-child
{
  border-right: 1px solid #ccd0d2 !important;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
    color: #1b4880;
    font-size: 21px;
    margin: auto;
    text-align: left;
}
.srch_bar input{  border-width:0 0 1px 0; width:100%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span {
    font-size: 13px;
    float: right;
    color: #1a4680;
}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat
 { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  padding: 30px 15px 0 25px;
}

 .sent_msg p {
  background: #388add none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {position: relative;}
.msg_send_btn {
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.messaging { padding: 40px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
section.selectChat {
    background: #eeeeef;
    padding: 20px;
}
.top_button {
    background: #bbb9ba;
    color: #ebebeb;
    border-radius: 4px;
    border-bottom: 3px solid #9e9c9d;
    padding: 10px 40px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 20px;
}
.top_button.active {
    background: #245aa2;
    color: #fff;
    border-radius: 4px;
    border-bottom: 3px solid #123663;
    padding: 10px 40px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 20px;
}
.filter_left
{
  text-align: right;
  padding: 20px;
}
@media (min-width: 992px)
{
  .sg_border {
      border-bottom: 1px solid #d6d6d6;
      border-right: 1px solid #d6d6d6;
      padding: 10px 0;
      min-height: 77px;
  }
  .sg_center {
      border-bottom: 1px solid #d6d6d6;
      border-right: 1px solid #d6d6d6;
      padding: 10px 0;
      min-height: 77px;
  }
  .sg_last {
      border-bottom: 1px solid #d6d6d6;
      padding: 10px 0;
      min-height: 77px;
  }
}
.msg_chthead p.top_content {
    color: #3a3a3a;
    margin: 0;
    padding: 0 10px;
}
.chatsetting_icon {
    bottom: 0;
    position: absolute;
    right: 0;
}
.chatsetting_icon i
{
  color: #1d4f85;
  font-size: 24px;
}
.chatsetting_icon  i.border_ii
{
    border-right: 1px solid #d6d6d6;
    padding-right: 5px;
}
.mesgs{
    border-right: 1px solid #d6d6d6;
}
.attachment_div>h2 {
    margin: 0;
    color: #1b4880;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}
.upload_ib h5
{
  margin:0;
}
.upload_img >img {
    width: 20%;
    float: left;
    padding-right: 5px;
}
p.screenshort_img {
    margin: 0;
    font-size: 12px;
}
p.pre_dwnld {
    text-align: right;
    font-size: 12px;
}
.circle-dot_online {
    font-size: 8px;
    /* padding-left: 30px; */
    position: relative;
    color: #47bf71;
    bottom: 16px;
    left: 25px;
}
.btn.focus, .btn:focus, .btn:hover 
{
    color: #ffffff !important;
}
.attachment_icon_snd
{
  transform: rotate(40deg);
  color: #bdbdbd;
}
span.snd_msg {
    color: #388add;
    font-weight: 600;
    font-size: 14px;
}
button.request_meet.btn {
    background: #4379b9;
    color: #ffffff;
    border-bottom: 2px solid #2e568a;
    border-radius: 0;
    margin: 10px 0;
    /* min-width: 158px; */
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
